---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import Presentation from '../components/presentation.astro';
import Education from '../components/Education.astro';
---

<BaseLayout title="A propos | Aatricks">
	<div class="stack gap-20">
		<main class="wrapper about">
			<header class="a-propos">
				<Hero title="À propos" title2='' align='start'></Hero>
			</header>
			<Presentation />
			<Education />
		</main>
	</div>
</BaseLayout>

<style>
	.a-propos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
	overflow: auto;
    gap: 2rem;
	}
</style>