---
import BaseLayout from '../layouts/BaseLayout.astro';
import Presentation from '../components/presentation.astro';
import Education from '../components/Education.astro';
---

<BaseLayout title="A propos | Aatricks">
	<div class="stack gap-20"	style="min-height: 100vh; overflow: hidden;">
		<main class="wrapper about">
			<header class="a-propos">
				<h3>À Propos</h3>
			</header>
			<Presentation />
			<Education />
		</main>
	</div>
</BaseLayout>

<style>
	.a-propos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50dvh;
	overflow: auto;
    gap: 2rem;
    min-height: 100dvh;
	}
	.a-propos h3 {
		font-size: var(--text-2xl);
	}
</style>