---
import type { CollectionEntry } from 'astro:content';

interface Props {
    project: CollectionEntry<'work'>;
    image?: string;
}

const { project, image } = Astro.props;
const { data, slug } = project ?? {};

import BaseLayout from '../layouts/BaseLayout.astro';

---

<BaseLayout
    title="Éxperiences | Aatricks">
    <div class="gallery-wrapper">
        <main class="gallery">
          <a class="card" href={`/Portfolio/work/${3}`}>
            <img src="/Portfolio/assets/SD1.webp" loading="lazy" decoding="async" />
          </a>
          <a class="card" href={`/Portfolio/work/nested/${1}`}>
            <img src="/Portfolio/assets/julia.webp" loading="lazy" decoding="async" />
          </a>
          <a class="card" href={`/Portfolio/work/${2}`}>
            <img src="/Portfolio/assets/spotify.webp" loading="lazy" decoding="async" />
          </a>
          <a class="card" href={`/Portfolio/work/${4}`}>
            <img src="/Portfolio/assets/dramaquick.webp" loading="lazy" decoding="async" />
          </a>
          <a class="card" href={`/Portfolio/work/${5}`}>
            <img src="/Portfolio/assets/adb.webp" loading="lazy" decoding="async" />
          </a>
        </main>
    </div>
</BaseLayout>



<style>
  * {
  box-sizing: border-box;
}

.gallery-wrapper {
  height: 80dvh;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.gallery {
  position: relative;
  z-index: 1;
  height: 60dvh;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-self: center;
}
.card {
  height: 55dvh;
  width: 70dvh;
  margin: 0 30px;
  flex : 0 0 auto;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

  .wrapper {
  /* other styles */
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

	.card:hover {
		box-shadow: var(--shadow-md);

	}

	.card img {
  		transform: scale(1);
  		transition: transform 0.3s ease-in-out;
      border-radius: 50px;
	}

	.card:hover img {
  		transform: scale(1.1);
	}
</style>


<script>
  let paused = false;
  window.addEventListener('load', () => {
    const gallery = document.querySelector('.gallery');
    const cards = Array.from(gallery.children);
    const speed = 2; // Adjust this value to change the speed of the scrolling

    let x = 0;

    function loop() {
  if (!paused) {
    x -= speed;
    if (x < -cards[0].offsetWidth) {
      x += cards[0].offsetWidth;
      // Move the first card to the end
      cards.push(cards.shift());
      // Update the order of the cards in the DOM
      gallery.append(cards[cards.length - 1]);
    }
    gallery.style.transform = `translateX(${x}px)`;
  }
  requestAnimationFrame(loop);
}


  cards.forEach(card => {
  card.addEventListener('mouseenter', () => {
    paused = true;
  });
  card.addEventListener('mouseleave', () => {
    paused = false;
  });
});
loop();
  });
</script>
