---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('work')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
    title="Éxperiences | Aatricks"
>
    <div class="stack gap-20" style="height: 100vh; overflow: hidden;">
        <main class="wrapper stack gap-8" style="height: 100vh;">
            <Hero
                title="Mes projets"
                align="start"
            />
            <Grid variant="offset" style="height: 100vh;">
                <li>
                    <PortfolioPreview project={projects[0]} image="/assets/julia.png" />
                </li>
                <li>
                    <PortfolioPreview project={projects[1]} image="/assets/julia.gif" />
                </li>
                <li>
                    <PortfolioPreview project={projects[2]} image="/assets/julia2.gif" />
                </li>
                <!--
                {
                    projects.slice(2).map((project) => (
                        <li>
                            <PortfolioPreview project={project} />
                        </li>
                    ))
                }
                -->
            </Grid>
        </main>
    </div>
</BaseLayout>