---
import Icon from './Icon.astro';
---

<section class="box education">
	<div class="title-container">
		<Icon icon="graduation-cap" color="var(--accent-regular)" size="2.5rem" gradient />
		<h3 class="Parcours">Parcours :</h3>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Lycée Français de Moscou</h2>
		<p>Cursus de Bac général dans le Lycée Francais Alexandre Dumas à Moscou avec l'obtention du baccalauréat général avec mention bien avec les spécialités Mathématiques, Physique-Chime et Sciences et Vie de la Terre.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="engineer_cse" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Polytech Tours</h2>
		<p>Cursus d'ingénieur en spécialité informatique dans l'école Polytechnique de l'université de Tours.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack</h2>
		<p>Aspiration après l'obtention du diplôme d'ingénieur</p>
	</div>
</section>

<style>
	.box {
		margin-bottom: 30vh;
		position: relative;
	}

	.title-container {
	gap: 1rem;
    display: flex;
    align-items: center; /* Align items vertically in the center */
	/*align items horizontally in the center */
	justify-content: center;
	margin-bottom: 5vh;
	}

	.education {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.education h2 {
		font-size: var(--text-lg);
	}

	.education p {
		color: var(--gray-400);
		margin-left: 2em;
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.education {
			display: grid;
			grid-template-columns: repeat(1, 3fr);
			gap: 3rem;
		}

		.education h2 {
			font-size: var(--text-2xl);
		}
	}
</style>