---
interface Props {
	title: string;
    title2: string;
	tagline?: string;
	align?: 'start' | 'center';
}

const { align = 'center', tagline, title, title2 } = Astro.props;
---

<div class:list={['hero stack gap-4', align]}>
    <div class="stack gap-2">
        <h1 class="title">{title}</h1>
        <h1 class="title">{title2}</h1>
        {tagline && <p class="tagline">{tagline}</p>}
		<p><span id="typed"></span></p>
	</div>
	<slot />
</div>

<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script>
//GSAP
import { gsap } from "gsap";
let tl = gsap.timeline({
	scrollTrigger:{
		trigger: ".hero",
		start: "top top",
		end: "bottom bottom",
		scrub: false,
		markers: true,
		toggleActions: 'play reverse play reverse'
	}
})
tl.from(".hero", {
	duration: 3,
	opacity: 0,
	y: 100,
	ease: "power4.out"
})
</script>

<style>
    .hero {
        font-size: var(--text-lg);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
	p{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: var(--text-3xl);
        color: var(--gray-0);
        text-align: center;
    }

    @media (min-width: 50em) {
        .hero {
            font-size: var(--text-xl);
        }

        .start {
            text-align: start;
        }

        .start .title,
        .start .tagline {
            margin-inline: unset;
        }

        .title {
            font-size: var(--text-5xl);
        }
    }
</style>
