
<section class="box languages">
            <div class="stack gap-2 lg:gap-4">
                <div class="outer">
                    <div class="inner">
                        <img id={`image-Python`} src={"/Portfolio/assets/Python.webp"} alt="Description" class="image">
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="144px" height="144px">
                    <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#DA22FF" />
                            <stop offset="100%" stop-color="#9733EE" />
                        </linearGradient>
                    </defs>
                    <circle cx="72" cy="72" r="63" stroke-linecap="round" class="circlept"/>
                </svg>
            </div>
            <div class="stack gap-2 lg:gap-4">
                <div class="outer">
                    <div class="inner">
                        <img id={`image-Rust`} src={"/Portfolio/assets/Rust.webp"} alt="Description" class="image">
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="144px" height="144px">
                    <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#DA22FF" />
                            <stop offset="100%" stop-color="#9733EE" />
                        </linearGradient>
                    </defs>
                    <circle cx="72" cy="72" r="63" stroke-linecap="round" class="circler"/>
                </svg>
            </div>
            <div class="stack gap-2 lg:gap-4">
                <div class="outer">
                    <div class="inner">
                        <img id={`image-JavaScript`} src={"/Portfolio/assets/js.webp"} alt="Description" class="image">
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="144px" height="144px">
                    <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#DA22FF" />
                            <stop offset="100%" stop-color="#9733EE" />
                        </linearGradient>
                    </defs>
                    <circle cx="72" cy="72" r="63" stroke-linecap="round" class="circlejs"/>
                </svg>
            </div>
            <div class="stack gap-2 lg:gap-4">
                <div class="outer">
                    <div class="inner">
                        <img id={`image-php`} src={"/Portfolio/assets/php.webp"} alt="Description" class="image">
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="144px" height="144px">
                    <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#DA22FF" />
                            <stop offset="100%" stop-color="#9733EE" />
                        </linearGradient>
                    </defs>
                    <circle cx="72" cy="72" r="63" stroke-linecap="round" class="circleph"/>
                </svg>
            </div>
            <div class="stack gap-2 lg:gap-4">
                <div class="outer">
                    <div class="inner">
                        <img id={`image-C`} src={"/Portfolio/assets/c.webp"} alt="Description" class="image">
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="144px" height="144px">
                    <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#DA22FF" />
                            <stop offset="100%" stop-color="#9733EE" />
                        </linearGradient>
                    </defs>
                    <circle cx="72" cy="72" r="63" stroke-linecap="round" class="circlec"/>
                </svg>
            </div>
            <div class="stack gap-2 lg:gap-4">
                <div class="outer">
                    <div class="inner">
                        <img id={`image-TypeScript`} src={"/Portfolio/assets/ts.webp"} alt="Description" class="image">
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="144px" height="144px">
                    <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#DA22FF" />
                            <stop offset="100%" stop-color="#9733EE" />
                        </linearGradient>
                    </defs>
                    <circle cx="72" cy="72" r="63" stroke-linecap="round" class="circlets"/>
                </svg>
            </div>
            <div class="stack gap-2 lg:gap-4">
                <div class="outer">
                    <div class="inner">
                        <img id={`image-HTML`} src={"/Portfolio/assets/html.webp"} alt="Description" class="image">
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="144px" height="144px">
                    <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#DA22FF" />
                            <stop offset="100%" stop-color="#9733EE" />
                        </linearGradient>
                    </defs>
                    <circle cx="72" cy="72" r="63" stroke-linecap="round" class="circlehtml"/>
                </svg>
            </div>
            <div class="stack gap-2 lg:gap-4">
                <div class="outer">
                    <div class="inner">
                        <img id={`image-CSS`} src={"/Portfolio/assets/css.webp"} alt="Description" class="image">
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="144px" height="144px">
                    <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#DA22FF" />
                            <stop offset="100%" stop-color="#9733EE" />
                        </linearGradient>
                    </defs>
                    <circle cx="72" cy="72" r="63" stroke-linecap="round" class="circlecss"/>
                </svg>
            </div>
            <div class="stack gap-2 lg:gap-4">
                <div class="outer">
                    <div class="inner">
                        <img id={`image-SQL`} src={"/Portfolio/assets/SQL.webp"} alt="Description" class="image">
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="144px" height="144px">
                    <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#DA22FF" />
                            <stop offset="100%" stop-color="#9733EE" />
                        </linearGradient>
                    </defs>
                    <circle cx="72" cy="72" r="63" stroke-linecap="round" class="circlesql"/>
                </svg>
            </div>
            <div class="stack gap-2 lg:gap-4">
                <div class="outer">
                    <div class="inner">
                        <img id={`image-GitHub`} src={"/Portfolio/assets/github.webp"} alt="Description" class="image">
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="144px" height="144px">
                    <defs>
                        <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#DA22FF" />
                            <stop offset="100%" stop-color="#9733EE" />
                        </linearGradient>
                    </defs>
                    <circle cx="72" cy="72" r="63" stroke-linecap="round" class="circlegh"/>
                </svg>
            </div>
</section>

<style>
    .languages {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: auto;
    margin-bottom: 40vh;
    }

    .image {
    width: 50%;
    height: 50%;
    object-fit: cover;
    }

	@media (min-width: 50em) {

		.languages {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			gap: 2rem;
		}}
    
    @media (max-width: 1200px) {
        .languages {
        grid-template-columns: repeat(4, 2fr);
        margin-bottom: 10vh;
        }
    }
    @media (max-width: 1000px) {
        .languages {
        grid-template-columns: repeat(3, 3fr);
        margin-bottom: 20vh;
        }
    }
    @media (max-width: 800px) {
        .languages {
        grid-template-columns: repeat(2, 4fr);
        margin-bottom: 40vh;
        }
    }
    .stack{
        width: 144px;
        height: 144px;
        margin: 1rem;
        position: relative;
    }

    .outer{
        width: 144px;
        height: 144px;
        padding: 20px;
        box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(255,255,255,0.7);
        border-radius: 50%;
    }

    .inner{
        height: 108px;
        width: 108px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2), inset -4px -4px 6px -1px rgba(255,255,255,0.7), -0.5px -0.5px 0px rgba(255, 255, 255, 1), 0.5 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
        border-radius: 50%;
    }

    @media (max-width: 800px) {
        .outer{
            box-shadow: none;
        }
        .inner{
            box-shadow: none;
        }
    }

    .circlept{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 18px;
        stroke-dasharray: 450;
        stroke-dashoffset: 450;
        animation: animpt 2s linear forwards;
    }

    .circler{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 18px;
        stroke-dasharray: 450;
        stroke-dashoffset: 450;
        animation: animr 2s linear forwards;
    }

    .circlejs{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 18px;
        stroke-dasharray: 450;
        stroke-dashoffset: 450;
        animation: animjs 2s linear forwards;
    }

    .circleph{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 18px;
        stroke-dasharray: 450;
        stroke-dashoffset: 450;
        animation: animph 2s linear forwards;
    }

    .circlec{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 18px;
        stroke-dasharray: 450;
        stroke-dashoffset: 450;
        animation: animc 2s linear forwards;
    }

    .circlets{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 18px;
        stroke-dasharray: 450;
        stroke-dashoffset: 450;
        animation: animts 2s linear forwards;
    }

    .circlehtml{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 18px;
        stroke-dasharray: 450;
        stroke-dashoffset: 450;
        animation: animhtml 2s linear forwards;
    }

    .circlecss{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 18px;
        stroke-dasharray: 450;
        stroke-dashoffset: 450;
        animation: animcss 2s linear forwards;
    }

    .circlesql{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 18px;
        stroke-dasharray: 450;
        stroke-dashoffset: 450;
        animation: animsql 2s linear forwards;
    }

    .circlegh{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 18px;
        stroke-dasharray: 450;
        stroke-dashoffset: 450;
        animation: animgh 2s linear forwards;
    }


    @keyframes animpt {
    100% {
        stroke-dashoffset: 110;
    }
    }

    @keyframes animr {
        100% {
            stroke-dashoffset: 160;
        }
    }

    @keyframes animjs {
        100% {
            stroke-dashoffset: 310;
        }
    }

    @keyframes animph {
        100% {
            stroke-dashoffset: 210;
        }
    }

    @keyframes animc {
        100% {
            stroke-dashoffset: 360;
        }
    }

    @keyframes animts {
        100% {
            stroke-dashoffset: 380;
        }
    }

    @keyframes animhtml {
        100% {
            stroke-dashoffset: 140;
        }
    }

    @keyframes animcss {
        100% {
            stroke-dashoffset: 140;
        }
    }

    @keyframes animsql {
        100% {
            stroke-dashoffset: 230;
        }
    }

    @keyframes animgh {
        100% {
            stroke-dashoffset: 230;
        }
    }

    svg{
        position: absolute;
        top: 0;
        left: 0;
    }
</style>