<script>
    const observer = new IntersectionObserver(entries => {
  entries.forEach(entry => {
    const circlefr = entry.target.querySelector('.circlefr');

    if (entry.isIntersecting) {
      circlefr.classList.add('animfr');
	  return;
    }
    circlefr.classList.remove('animfr');
  });

  entries.forEach(entry => {
    const circleen = entry.target.querySelector('.circleen');

    if (entry.isIntersecting) {
      circleen.classList.add('animen');
	  return; 
    }
    circleen.classList.remove('animen');
  });

  entries.forEach(entry => {
    const circleit = entry.target.querySelector('.circleit');

    if (entry.isIntersecting) {
      circleit.classList.add('animit');
      return; 
    }
    circleit.classList.remove('animit');
  });

    entries.forEach(entry => {
        const circlees = entry.target.querySelector('.circlees');
    
        if (entry.isIntersecting) {
        circlees.classList.add('animes');
        return; 
        }
        circlees.classList.remove('animes');
    });

    entries.forEach(entry => {
        const circleru = entry.target.querySelector('.circleru');
    
        if (entry.isIntersecting) {
        circleru.classList.add('animru');
        return; 
        }
        circleru.classList.remove('animru');
    });
});

observer.observe(document.querySelector('.langues'));
</script>

<section class="box langues">
    <div class="stack gap-2 lg:gap-4">
        <div class="outer">
            <div class="inner">
                <img src="https://img.icons8.com/color/48/000000/france.png"/>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="144px" height="144px">
            <defs>
                <linearGradient id="GradientColor">
                    <stop offset="0%" stop-color="#DA22FF" />
                    <stop offset="100%" stop-color="#9733EE" />
                </linearGradient>
            </defs>
            <circle cx="72" cy="72" r="63" stroke-linecap="round" class="circlefr"/>
        </svg>
        <p class="text-center pt-4">C2</p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <div class="outer">
            <div class="inner">
                <img src="https://img.icons8.com/?id=15534&format=png"/>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="144px" height="144px">
            <defs>
                <linearGradient id="GradientColor">
                    <stop offset="0%" stop-color="#DA22FF" />
                    <stop offset="100%" stop-color="#9733EE" />
                </linearGradient>
            </defs>
            <circle cx="72" cy="72" r="63" stroke-linecap="round" class="circleen"/>
        </svg>
        <p class="text-center pt-4">C1</p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <div class="outer">
            <div class="inner">
                <img src="https://img.icons8.com/color/48/000000/italy.png"/>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="144px" height="144px">
            <defs>
                <linearGradient id="GradientColor">
                    <stop offset="0%" stop-color="#DA22FF" />
                    <stop offset="100%" stop-color="#9733EE" />
                </linearGradient>
            </defs>
            <circle cx="72" cy="72" r="63" stroke-linecap="round" class="circleit"/>
        </svg>
        <p class="text-center pt-4">B2/C1</p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <div class="outer">
            <div class="inner">
                <img src="https://img.icons8.com/color/48/000000/spain.png"/>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="144px" height="144px">
            <defs>
                <linearGradient id="GradientColor">
                    <stop offset="0%" stop-color="#DA22FF" />
                    <stop offset="100%" stop-color="#9733EE" />
                </linearGradient>
            </defs>
            <circle cx="72" cy="72" r="63" stroke-linecap="round" class="circlees"/>
        </svg>
        <p class="text-center pt-4">B2/C1</p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <div class="outer">
            <div class="inner">
                <img src="https://img.icons8.com/color/48/000000/russian-federation.png"/>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="144px" height="144px">
            <defs>
                <linearGradient id="GradientColor">
                    <stop offset="0%" stop-color="#DA22FF" />
                    <stop offset="100%" stop-color="#9733EE" />
                </linearGradient>
            </defs>
            <circle cx="72" cy="72" r="63" stroke-linecap="round" class="circleru"/>
        </svg>
        <p class="text-center pt-4">B1</p>
    </div>
</section>

<style>
    .langues {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: auto;
    margin-bottom: 40vh;
    }

	@media (min-width: 50em) {
        
		.langues {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			gap: 2rem;
		}}
    
    @media (max-width: 1200px) {
        .langues {
        grid-template-columns: repeat(4, 2fr);
        margin-bottom: 10vh;
        }
    }
    @media (max-width: 1000px) {
        .langues {
        grid-template-columns: repeat(3, 3fr);
        margin-bottom: 20vh;
        }
    }
    @media (max-width: 800px) {
        .langues {
        grid-template-columns: repeat(2, 4fr);
        margin-bottom: 30vh;
        row-gap: 2rem;
        }
    }
    .stack{
        width: 144px;
        height: 144px;
        margin: 1rem;
        position:relative;
    }

    .outer{
        width: 144px;
        height: 144px;
        padding: 18px;
        box-shadow: 1.5px 1.5px 2.5px -0.25px rgba(0,0,0,0.15), -1.5px -1.5px 2.5px -0.25px rgba(255,255,255,0.7);
        border-radius: 50%;
    }

    .inner{
        height: 108px;
        width: 108px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: inset 1px 1px 1.5px -0.25px rgba(0,0,0,0.2), inset -1px -1px 1.5px -0.25px rgba(255,255,255,0.7), -0.125px -0.125px 0px rgba(255, 255, 255, 1), 0.125 0.125px 0px rgba(0, 0, 0, 0.15), 0px 3px 2.5px -2.5px rgba(0, 0, 0, 0.05);
        border-radius: 50%;
    }

    #number{
        font-weight: 540;
        color: #555;
        font-size: 27px;
    }

    .circlefr{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 18px;
        stroke-dasharray: 450;
        stroke-dashoffset: 450;
    }

    .circleen{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 18px;
        stroke-dasharray: 450;
        stroke-dashoffset: 450;
    }

    .circleit{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 18px;
        stroke-dasharray: 450;
        stroke-dashoffset: 450;
    }

    .circlees{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 18px;
        stroke-dasharray: 450;
        stroke-dashoffset: 450;
    }

    .circleru{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 18px;
        stroke-dasharray: 450;
        stroke-dashoffset: 450;
    }

    .animfr{
        animation: animfr 1s linear forwards;
    }

    .animen{
        animation: animen 1s linear forwards;
    }

    .animit{
        animation: animit 1s linear forwards;
    }

    .animes{
        animation: animes 1s linear forwards;
    }

    .animru{
        animation: animru 1s linear forwards;
    }

    @keyframes animfr{
        100%{
            stroke-dashoffset: 0;
        }
    }

    @keyframes animen{
        100%{
            stroke-dashoffset: 100;
        }
    }

    @keyframes animit{
        100%{
            stroke-dashoffset: 170;
        }
    }

    @keyframes animes{
        100%{
            stroke-dashoffset: 190;
        }
    }

    @keyframes animru{
        100%{
            stroke-dashoffset: 300;
        }
    }

    svg{
        position: absolute;
        top: 0;
        left: 0;
    }
</style>