---
import Icon from './Icon.astro';
---

<script>
import { gsap } from "gsap";

const observer = new IntersectionObserver(entries => {
	entries.forEach(entry => {
		const pres = entry.target.querySelector('.presentation');

		if (entry.isIntersecting) {
			if ( window.innerWidth< 1500) {
				// Script for small displays
				let tl1 = gsap.timeline({
					scrollTrigger: {
						trigger: ".presentation",
						start: "center 50%",
						end: "bottom bottom",
						scrub: false,
						markers: true,
						toggleActions: 'play reverse play reverse'
					}
				});
				tl1.to(".presentation", {
					y: -100,
					duration: 1.5,
					opacity: 1,
				});
			} else {
				// Script for big displays
				let tl2 = gsap.timeline({
					scrollTrigger: {
						trigger: ".presentation",
						start: "center 50%",
						end: "bottom bottom",
						scrub: false,
						markers: true,
						toggleActions: 'play reverse play reverse'
					}
				});
				tl2.to(".presentation", {
					x: 1400,
					duration: 1.5,
					opacity: 1,
				});
			}
		}
	});
});

observer.observe(document.querySelector('.presentation'));
</script>

<section class="box presentation">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="pencil-line" color="var(--accent-regular)" size="2.5rem" gradient />
		<h3>Quick Introduction</h3>
		<p>My name is <span class="highlight">Emilio Melis</span>, an 19-year-old french developer.<br/>
			I love coding projects, building applications, and creating algorithms to solve various problems.<br/>
			I mainly focus on <span class="highlight">creating algorithmic tools</span> but also <span class="highlight">artificial intelligence</span> with projects like GPT4ALL, Automatic1111 and tesla autopilot.<br/>
			I learned mostly self-taught with Python and Game Maker Studio 2, and I am currently a <span class="highlight">thrid-year engineering student</span> in the city of Tours.
		</p>
	</div>
</section>

<style>
	.box {
		height: 50vh;
		position: relative;
		opacity: 0;
	}

	@media (max-width: 800px) {
		.box {
			margin-bottom: 400px;
		}
	}
	.presentation {
		flex-direction: column;
		gap: 3rem;
		display: grid;
		grid-template-columns: repeat(1, 3fr);
		left: -1400px;
		opacity: 0;
		}

	.presentation h2 {
		font-size: var(--text-lg);
	}

	.presentation p {
		color: var(--gray-400);
		margin-left: 2em;
	}

    .highlight {
        color: purple;
    }

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.presentation h2 {
			font-size: var(--text-2xl);
		}

        .highlight {
            color: purple;
        }
	}

	@media (max-width: 1500px) {
		.presentation {
			left:0px;
		}
		
	}

    @media (max-width: 50em) {
        .highlight {
            color: purple;
        }
    }
</style>