---
import Icon from './Icon.astro';
---

<script>
import {gsap} from "gsap";

    const observer = new IntersectionObserver(entries => {
  entries.forEach(entry => {
    const pres = entry.target.querySelector('.presentation');

    if (entry.isIntersecting) {
		let tl1 = gsap.timeline({
				scrollTrigger:{
					trigger: ".presentation",
					start: "center 50%",
					end: "bottom bottom",
					scrub: false,
					markers: true,
					toggleActions: 'play reverse play reverse'
				}
			})
			tl1.to(".presentation", {
				x:1400,
				duration: 1.5,
				opacity: 1,
			})
    }
  });

});

observer.observe(document.querySelector('.presentation'));
</script>

<section class="box presentation">
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="pencil-line" color="var(--accent-regular)" size="2.5rem" gradient />
        <h3>Petite Présentation</h3>
        <p>Je m'appelle <span class="highlight">Emilio Melis</span>, jeune développeur de 18 ans.<br/>
            J'adore coder des projets, construire des applications ou créer des algorithmes pour résoudre divers problèmes.<br/>
            Je suis principalement axé sur la <span class="highlight">création d'outils algorithmiques</span> mais aussi <span class="highlight">l'intélligence artificielle</span> avec des projets comme GPT4ALL et Automatic1111.<br/>
            J'ai appris majoritairement en auto-didacte avec Python et Game maker studio 2 et je suis aujourd'hui <span class="highlight">étudiant en 2ème année d'école d'ingénieur</span> dans la ville de Tours.
        </p>
    </div>
</section>

<style>
	.box {
		height: 50vh;
		position: relative;
		opacity: 0;
	}

	@media (max-width: 800px) {
		.box {
			margin-bottom: 400px;
		}
	}
	.presentation {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.presentation h2 {
		font-size: var(--text-lg);
	}

	.presentation p {
		color: var(--gray-400);
		margin-left: 2em;
	}

    .highlight {
        color: purple;
    }

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.presentation {
			display: grid;
			grid-template-columns: repeat(1, 3fr);
			gap: 3rem;
			left: -1400px;
		}

		.presentation h2 {
			font-size: var(--text-2xl);
		}

        .highlight {
            color: purple;
        }
	}

    @media (max-width: 50em) {
        .highlight {
            color: purple;
        }
    }
</style>