---
import Icon from './Icon.astro';
---

<section class="box presentation">
    <div class="stack gap-2 lg:gap-4">
        <Icon icon="pencil-line" color="var(--accent-regular)" size="2.5rem" gradient />
        <h3>Petite Présentation</h3>
        <p>Je m'appelle <span class="highlight">Emilio Melis</span>, jeune développeur de 18 ans.<br/>
            J'adore coder des projets, construire des applications ou créer des algorithmes pour résoudre divers problèmes.<br/>
            Je suis principalement axé sur la <span class="highlight">création d'outils algorithmiques</span> mais aussi <span class="highlight">l'intélligence artificielle</span> avec des projets comme GPT4ALL et Automatic1111.<br/>
            J'ai appris majoritairement en auto-didacte avec Python et Game maker studio 2 et je suis aujourd'hui <span class="highlight">étudiant en 2ème année d'école d'ingénieur</span> dans la ville de Tours.
        </p>
    </div>
</section>

<style>
	.box {
		height: 50vh;
		overflow: auto;
	}
	.presentation {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.presentation h2 {
		font-size: var(--text-lg);
	}

	.presentation p {
		color: var(--gray-400);
		margin-left: 2em;
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.presentation {
			display: grid;
			grid-template-columns: repeat(1, 3fr);
			gap: 3rem;
		}

		.presentation h2 {
			font-size: var(--text-2xl);
		}

        .highlight {
            color: purple;
        }
	}
</style>